<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Song</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body style="background-image: url('{{image}}')">
    <div>
      <div class="head">{{name}}<span></span></div>
      <a href="{{spotify}}"><div class="spotify"><img src="https://play.spotify.edgekey.net/site/704fb3a/images/favicon.png"></div></a>
      <a href="{{youtube}}"><div class="youtube"><img src="http://www.techspot.com/images2/downloads/topdownload/2014/06/youtube.jpg"></div></a>
      <a href="{{google}}"><div class="google"><img src="https://lh3.ggpht.com/da4jn6uq0DxjbYTEuD536FJUcxGDj3dN4Hzlji4UPk0pr-CFVmcHfFzQLlkSPxo1qls=w300"></div></a>
    </div>
  </body>
</html>
