<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Song</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
      <div class="title">{{name}}</div>
      <div class="artist">{{artist}}</span></div>
    <img src="{{image}}">
    <div class="content">
      <a style="margin:0" href="{{spotify}}"><div style="-webkit-mask:url(/static/img/spotify.svg) center / contain no-repeat"></div></a>
      <a href="{{apple}}"><div style="-webkit-mask:url(/static/img/apple.svg) center / contain no-repeat"></div></a>
      <a style="margin:0" href="{{youtube}}"><div style="-webkit-mask:url(/static/img/youtube.svg) center / contain no-repeat"></div></a>
      <a href="{{soundcloud}}"><div style="-webkit-mask:url(/static/img/soundcloud.svg) center / contain no-repeat"></div></a>
      <a style="margin:0" href="{{google}}"><div style="-webkit-mask:url(/static/img/google.svg) center / contain no-repeat"></div></a>
    </div>
  </body>
</html>
